.top-container
{
    background-color:rgb(48,164,211);
    display:flex;
    width:100vw;
}


.top-container_search_icon

{
    padding-top:1%;
   
}
.search_icon
{
    width:45%;
}


.top-container_face_search
{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    width:55%;
}
.top-container_face
{
    border-radius: 70%;
    height:50px;
    width:50px;
    margin-top: 1%;
}
.top-container_menu
{
    
    color:white;
    display:flex;
    justify-content: space-between;
    width:30%;
    height:10vh;
    text-transform: uppercase;
    align-items: center;
    padding:0 5%;
    
}
.result-container
{
    background-color:rgb(53,183,235);
    width:100vw;
   display:flex;
    flex-direction: column;
    height:25vh;
    justify-content: center;
    position: relative;
    padding:0 5%;
}

.result-container_heading
{
    font-size:3rem;
    color:white;
    display:inline-block;

    
}

.result-container_wrapper
{
    display:flex;
 align-items: center;
     position:relative;
}
.result-container_border
{
    width:5%;
    height:100px;
    border-bottom: 1px solid transparent;
    border-left: 1px solid white;
    border-top:1px solid transparent;
    border-right:1px solid transparent;
    display:inline-flex;
}
.result-container_menu
{
    display:flex;
    justify-content: space-between;
    width:30%;
    color:white;
    text-transform: uppercase;
    position: absolute;
    bottom:0;
    padding:1.5% 0 1.5% 4.5%;
  
    
}


.result-container_show_more_icon
{
    position:absolute;
    right:10%;
  
}
.icon
{
    width:50%;
}
.result-container_menu_element
{
 
    
}
.result-container_menu_element--active
{
    
    border-bottom:2px solid white;
}

.wrapper
{
    border-bottom:2px solid white;
    
    
}



@media (max-width:600px)
{
    .top-container_face_search
    {
        display:none;
    }
}